<div class="container">
  <h2 class="center"><%= "Books of " + @author.name %></h2> 
  <table class="table" style='table-layout:fixed;'>
    <thead>
      <tr>
        <th class="center">Book Name</th>
        <th class="center">Action</th>
      </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr class="center">
        <td><%= book.name %></td>
        <td>
          <%= link_to "View", book_path(book) %>
          <% if logged_in? %>
            | <%= link_to "Edit", edit_book_path(book) %>
            | <%= link_to "Delete", book, method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
        </td>
      </tr>
    <% end %>  
    </tbody>
  </table>
</div>
