<!DOCTYPE html>
<html>
  <head>
    <title>Honesty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Home", home_path %>
        </li>
        <li>
          <%= link_to "Books Listing", books_path %>
        </li>
        <li>
          <%= link_to "Add Book", new_book_path %>
        </li>
      </ul>
    </nav>

   <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
   </div>   
  
  </body>
</html>
